

*.docx 
*.odt
*.pdf 
*.gv
*.wav

# vscode 
*.vscode
**/.vscode

# python
**/.ipynb_checkpoints/**
**/__pycache__/**
*.pyc

# yolo
*.jpg
*.png 
*.pth
src/detection/yolo/data
src/detection/yolo/weights

doc/copied
data/*
build/*
log/*

src/train_yolo
tmp*.py